@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*, *::before, *::after {
  box-sizing: border-box;

}

body {
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100vh;
  background-image: url('./assets/images/Background2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e69652;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-size: cover; */
}

select {
  appearance: none;
  border-radius: 1px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-align-last:center;
}

.App > footer {
  position: absolute;
  font-weight: bold;
  color: white;
  right: 1rem;
  padding: 5px;
  font-family: 'Anton', sans-serif;

}

.App {
  margin: 1rem;
}

button {
  border: 1px black solid;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-style: normal;
  font-size: max(25px, 2vw);
  color: rgb(32,68,81);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

li > a {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

span {
  padding-right: 1rem;
}

.languages > span {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

#logo {
  width: 5rem;
  height: 5rem;
}

.thanks {
  margin-bottom: 60px;
}

#loader > img {
  /* text-align: center;
  vertical-align: middle; */
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.openFileLink {
  color: rgb(32,68,81);
  margin-left: 2rem;
  margin-top: 2rem;
}

.openFileLink > a {
  border: 1px solid rgb(32,68,81);
  width: 10rem;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content:  center;
  padding: .5rem;
}

#openFile {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.legend-ul > li {
  list-style-type: circle;
}

.about-section a {
  font-size: max(17px, 1vh);
  color: #010101;
  border-bottom: 2px solid transparent;
  border-image: url('./assets/images/orange-link-highlighter.png') 40 stretch;
  padding-right: 0;
}


span#read-more {
  font-size: 1.4rem;
  font-weight: 800;
  color: #010101;
  border-bottom: 0.7vh solid transparent;
  border-image: url('./assets/images/orange-link-highlighter.png') 40 stretch;
  padding-right: 0;
}

span#read-more:hover, .about-section a:hover {
  color: #feddc5;
  background-color: #204451;
}

:focus{
  color: #feddc5;
  background-color: #204451;
}

.Nav_link:hover {
  background-color: #feddc5;
  color: black;
}
.Nav_link:active {
  color: #010101;
}

.activeRoute {
  color: #010101;
  background-color: #feddc5;
  cursor: not-allowed;
  border-bottom: 0.9vh solid transparent;
  border-image: url('./assets/images/navy-highlighter.png') 40 stretch;
}

.intro-small {
  font-size: max(13px, .5vw) !important;
}

.about-intro {
  font-size: max(16px, 1vh);
  padding-left: 2rem;
  padding-right: 2.5rem;
  line-height: 1.3;
  color: #737373;
  font-family: 'Amioko', sans-serif;
}

img.doodle-about{
  display: block;
  width: 5rem;
  margin-left: 60vw;
}

.appreciation-section > ul > li, .appreciation-section > ul > li > a {
  font-family: 'Amiko', sans-serif;
  padding-bottom: 15px;
  list-style: disc;
}

.appreciation-section > ul > li > a {
  text-decoration: underline;
  text-transform: none;
}


/* --MAIN CONTAINER-- */

.ItemsContainer {
  overflow: hidden;
  height: 75vh;
  max-height: 75vh;
}

.main-container {
  padding: 0 .5rem;
  height: 78.5vh;
  min-height: 75.5vh;
  background-color: white;
  margin-bottom: 1rem;
  overflow: scroll;
}

.single-item:last-child{
  margin-bottom: 6rem;
}

.main-content > p {
  font-family: 'Amiko', sans-serif;
}

/* --NAV BAR-- */

.nav-bar{
  display: flex;
  justify-content: space-between;
}

.nav-bar > a {
  width: 3.5rem;
}

.nav-bar > h2 {
  width: 7rem;
  font-size: 2.5vh;
  color: rgb(255,250,246);
  text-shadow: 3px 2px rgb(187,117,28);
}

.hamburger-menu {
  width: 100%;
}

/* --menu-list-- */

.menu-list {
  position: sticky;
  height: 75vh;
  background-color: black;
  color: white;
  font-size: 2em;
  line-height: min(3.4rem, 25vh);
  text-align: center;
  font-weight: bold;
  /* font-size: max(4rem, 4.5vh); */
}

nav > ul {
  padding: 2rem 0;
}

.menu-list > .languages {
  color:rgb(32,68,81);
  font-size: 3vh;
  text-align: center;
  line-height: 2rem;
  bottom: 1.8rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

#isNotBrowser > a > img {
  width: 8vh;
  height: auto;
}

#isBrowser {
  display:none;
}

.blue-blob{
  width: 8vw;
  height: 9vw;
}

.blob-resources > h4{
  display: inline;
  font-size: max(20px, 1.5vh);
  /* color: rgb(230,153,89); */
  color: #214451;
  font-size: 1.1rem;
  letter-spacing: 2px;
  word-spacing: -2px;
  font-family: 'Anton', sans-serif;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
  line-height: 1.2;
  margin-block-start: 0;
}


/* -----------POLICY TRACKER----------- */
.main-title > section > h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: max(7vw, 35px);
}

.policyButtons {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.policyButtons > p {
  /* justify-content: flex-start; */
  display: none;
}

@media (max-width: 374px){

  .policyOption {
    width: 77px!important;
    font-size: 9px!important;
    height: 45px;
  }


  .intro-small {
    font-size: max(13px, 0.6vh) !important;
  }

}

.policyOption {
  background-color: rgb(230,150,83);
  padding: 2%;

  font-size: 18px;
  width: 8rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: white;
  word-break: break-word;
  white-space: pre-wrap;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 10px;
}

.policyOption:nth-of-type(2){
  background-color: rgb(187,117,28);
  /* margin-top: 3%; */
}

@media (min-width: 436px) {
  .policyButtons{
    flex-direction: column;
  }
}

@media (min-width: 547px) {
  .policyButtons{
    flex-direction: row;
  }
}

.item-description{
  font-family: 'Amiko', sans-serif;
  color: #737373;
  text-align: left;
  line-height: 1.4;
  font-size: 1rem;
  letter-spacing: 1px;
}

.item-description:last-child{
  /* margin-bottom: 12rem; */
}

.type-section > p, p.filters-section {
  font-family: 'Amiko', sans-serif;
  font-weight: 100;
  color: #737373;
  text-align: left;
  line-height: 1.9;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-block-end: 0px;
  margin-block-start: 5px;
  padding-bottom: 0px;
}

p.filters-section {
  margin-left: 2rem;
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
}

#type {
  color: #010101;
  background-color: #e69653;
  font-size: 1rem;
  /* text-transform: capitalize; */
  font-family: 'Anton', sans-serif;
  margin-left: 3%;
  word-break: break-word;
  white-space: pre-wrap;
  padding-right: 0;
  padding: 0.5%;
}

.filter {
  color: #010101;
  border: #010101 1px solid;
  font-size: 1rem;
  /* text-transform: capitalize; */
  font-family: 'Anton', sans-serif;
  margin-left: 1%;
  word-break: break-word;
  white-space: pre-wrap;
  padding-right: 0;
  padding: 0.5%;
}

.filter:hover {
  color: #010101;
  background-color: #e69653;
}

#policy-content > ul {
  padding-left: 20px;
}

#policy-content {
  overflow-y: scroll;
  height: 60vh;
}

.item > p {
  font-family: 'Amiko', sans-serif;
  margin-bottom: 10%;
}

.item-title {
  color: #214451;
  word-spacing: 6px;
  font-family: 'Anton', sans-serif;
  text-align: left;
  margin-block-end: 0.7em;
  font-size: 1.5rem;

}

li.single-item{
  border-bottom: 5px solid #feddc5;
  margin-bottom: 10%;
}

/* --------------- PRINCIPLES ------------------- */
.principles-subtitle{
  /* color: rgb(230,153,89); */
  color: #214451;
  font-size: 125%;
  letter-spacing: 2px;
  word-spacing: -2px;
  font-family: 'Anton', sans-serif;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
  line-height: 1.2;
  margin-block-start: 5%;
  padding-left: 2rem;
}

.principles-intro{
  font-size: 90%;
  padding-left: 2rem;
  padding-right: 2.5rem;
  line-height: 1.4;
  color: #737373;
  font-family: 'Amioko', sans-serif;
}

/* ------------- ACCORDION -------------- */

.accordion {
  margin-top: 1rem;
}

.accordion-item{
  padding-left: 1rem;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #424242;
  font-size: 95%;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion > a:last-child{
}

.organizations li:last-child {
  margin-bottom: 50px;
}

.dev-link{
  font-size: max(29px, 1.8rem);
  /* margin-bottom: 20px; */
  padding: 0!important;
  border-bottom: 0px solid transparent!important;
}

.orange-blob {
  width: 2.5vw;
  height: 2.5vw;
  max-width: 1rem;
  max-height: 1rem;
}

.tracker-doodles {
  min-width: 2rem;
  height: 2rem;
  margin-right: 15px;
  margin-top: 2rem;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #424242;
  background-color: #feddc5;

}

.accordion a.active {
  color: #424242;
  background-color: #feddc5;
  border-bottom: 0.9vh solid transparent;
  border-image: url('./assets/images/navy-highlighter.png') 40 stretch;
  font-size: 95%;
}

.accordion-item > section {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.accordion .content {
  opacity: 0;
  padding: 0 0rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content .principle-description {
  font-size: 90%;
  font-family: 'Amiko', sans-serif;
  color: rgb(115,115,115);
  line-height: 1.3;
}

li.principle-item {
  font-size: 90%;
  font-family: 'Amiko', sans-serif;
  color: rgb(115,115,115);
  line-height: 1.3;
  list-style: circle;
  margin-bottom: 2%;
}

.accordion .content.active {
  opacity: 1;
  padding: 0rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/* ------------ LEGEND ---------- */
.legend-section{
  /* display: none; */
  background-color: #214451;
  color: #feddc5;
  font-family: 'Amiko', sans-serif;
  margin: 2vh 1vh 2vh 1vh;
  padding: 1vh;
  width: 90%;
  overflow: scroll;
  /* height: 23vw; */
  height: 16vw;
  min-height: 19rem;
  padding-bottom: min(10vh, 60px);
}


.legend-tracker-doodles{
  width: 4vh;
  height: 4vh;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 8px;
}

.legend-ul{
  list-style: circle;
}

.legend-menu-button {
  font-size: .9rem;
  padding: .5rem;
  margin: .5rem;
  border: 1px solid rgb(32,68,81);
  align-self: flex-end;
  background-color: white;
  /* font-family: inherit; */
  color: rgb(32,68,81);
  font-weight: bold;
  width: max-content;
}

.legend-menu-button > img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .6rem;
  border: 1px solid black;
  /* padding: .3rem; */
  padding:.2rem;
  border-radius: 50%;
  vertical-align: middle;
}


.item {
display: flex;
align-content: center;
}


/* @media (min-width: 2024px) {} */


/* ----------- ICONS ----------- */

/* this resizes the icon */
.gg-external {
  --ggs: 0.5;
}

.gg-external {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 12px;
  height: 12px;
  box-shadow:
      -2px 2px 0 0,
      -4px -4px 0 -2px,
      4px 4px 0 -2px;
  margin-left: -2px;
  margin-top: 1px
}

.gg-external::after,
.gg-external::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: -4px
}

.gg-external::before {
  background: currentColor;
  transform: rotate(-45deg);
  width: 12px;
  height: 2px;
  top: 1px
}

.gg-external::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  border-top: 2px solid;
  top: -4px
}


/* this resizes the icon */
.gg-close-r {
  --ggs: 0.5;
}
.gg-close-r {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px
}
.gg-close-r::after,
.gg-close-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px
}
.gg-close-r::after {
  transform: rotate(-45deg)
}




/* -------- RESPONSIVE TO TABLET --------- */

@media (min-width: 768px) and (max-width: 1023px){
  .nav-bar > h2 {
    width: 18rem;
    font-size: 3.5vh;
  }

  .main-title > section > h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem
  }

  .item-title {
    font-size: 1.7rem;
  }

  .type-section > p {
    font-size: 1.5rem;
  }

  .main-container {
    height: 73vh;
    padding: 0 5%;
    margin-bottom: 0;
  }

  .main-content > p {
    font-size: 3vh;
  }

  .main-content > h1 {
    font-size: max(55px, 3vh);
  }

  .blob-principle > a, .accordion a.active {
    font-size: max(20px, 1.5vh);
  }

  .blob-resources > h4{
    font-size: max(20px, 1.5vh);
    /* color: rgb(230,153,89); */
    color: #214451;
    font-size: 1.7rem;
    letter-spacing: 2px;
    word-spacing: -2px;
    font-family: 'Anton', sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.2;
    margin-block-start: 0;
  }


  .blue-blob{
    width: 3vw;
    height: 3vw;
    margin-right: 2%;
  }


  .principles-subtitle {
    font-size: max(35px, 1.5vh);
  }

  .legend-section {
    width: 100%;
  }

  .menu-list {
    font-size: min(3em, 50px);
    line-height: max(6.5rem, 2vh);
  }

  .accordion .content .principle-description {
    font-size: max(20px, 1.3vh);
  }

  li.principle-item {
    font-size: max(16px, 1vh);
  }

  /* .main-content > h1 {
    font-size: 4vh;
    font-weight: 800;
  } */

  .navbar > a {
    margin: 3rem;
  }

  footer > span {
    font-size: 2.7vh;
  }

  .policyButtons {
    justify-content: center;
    flex-direction: row;
  }

  .policyOption:nth-of-type(2){
    margin-left: 2rem;
    margin-top: 0;
  }

  #policy-content {
    font-size: 3vh;
  }

  .policyOption {
    font-size: 1rem;
    width: 13rem;
    height: 3rem;
    padding: 0;
  }

  .legend-menu-button{
    margin-left: 50px;
  }

  .tracker-doodles {
    min-width: 45px;
    min-height: 45px;
  }

  .about-section{
    display: flex;
    align-items: stretch;
  }


  .intro-small {
    font-size: max(15px, 2vh) !important;
  }

  .about-intro{
    font-size: max(20px, 3vh);
    /* padding-left: 2rem;
    padding-right: 2.5rem;
    line-height: 1.3;
    color: #737373;
    font-family: 'Amioko', sans-serif;
    max-width: 60%; */
  }

  img.doodle-about {
    width: 250px;
    height: 400px;
    margin-left: 0;
  }

  .item-description{
    line-height: 1.4;
    font-size: 1.6rem;
  }
}



/* -------- RESPONSIVE TO BROWSER --------- */


@media (min-width: 1024px) {

  html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }

  .App {
    margin: 0;
    /* min-width: 100vh; */
  }

  .nav-bar {
    flex-direction: column;
    min-height: 10rem;
    max-height: 15rem;
  }

  #logo {
    min-width: 10rem;
    min-height: 9rem;
    max-height: 13rem;
    max-width: 14rem;
  }

  .menu-list {
    background-color: inherit;
    min-height: 25rem;
    font-weight: 600;
    /* line-height: max(175px, 3rem); */
    height: auto;
    max-height: fit-content;
    line-height: max(50px, 3rem);
    padding-top: 0.1em;
    /* font-size: 8rem; */
    /* font-size: max(6rem, 8.5vh); */
    font-size: max(3rem, 4.5vh);
  }

  nav > ul {
    padding: 0;
    text-align: left!important;
    min-width: 26vw;
  }

  li > a {
    text-transform: uppercase;
    /* font-size: max(30px, 2rem); */
    font-size: max(25px, 2vw);
    margin-bottom: 50px;
    color:rgb(32,68,81);
    /* line-height: 1; */
  }

  .accordion a {
    font-size: max(27px, 2vw);
  }

  select {
    appearance: none;
    border-radius: 1px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-align-last:center;
  }


  .navbar-maincontainer {
    display:flex;
    margin: 40px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .main-content {
    height: 70vh;
    font-size: max(29px, 1.8rem);
    /* padding: 6vh; */
  }

  /* .type-section > p {
    padding-bottom: 35px;
  } */

  .main-content > p {
    color: rgb(115,115,115);
  }

  footer {
    font-size: 2vh;
    color:rgb(32,68,81)!important;
    margin-left: 4%;
    bottom: 0;
    position: absolute;
    left: 0;
  }

  .menu-list > .languages {
    color:rgb(32,68,81);
    /* font-size: max(30px, 1.5rem); */
    font-size: max(25px, 2vw);
    text-align: left;
    /* line-height: 2vh; */
    bottom: 1.8rem;
    padding-bottom: 1rem;
    /* margin-top: max(40px, 8rem); */
  }


  .main-container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "title"
    "content";
    padding: 3vh;
    margin-top: 1%;
    margin-left: 1.5rem;
    min-width: 65.5vw;
    max-width: 100rem;
    height: 80vh;
    /* min-height: 48rem; */
    max-height: 200rem;
  }

  .main-content > h1, .main-title > section > h1 {
    grid-area: title;
    font-size: min(4rem, 5.5vh);
    line-height: 1.1;
    margin: 0;
    text-align: left;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: capitalize!important;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 0.2rem;
    /* height: 13vh; */
  }

  .main-content > h1 {
    min-height: 10rem;
  }

  /* .principles-title{
    min-height: 18rem!important;
  } */

  img.doodle-about {
    margin-left: 0;
    width: 250px;
    max-height: 375px;
    /* max-width: 200px; */
  }

  .buttons-and-items {
    grid-area: content;
    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-areas:
    "items buttons";
    /* flex-direction: row-reverse;
    width: fit-content; */
  }

  #policy-content {
    grid-area: items;
    padding: 0 1vh;
    border-right: 1.3vw solid transparent;
    border-image: url('./assets/images/divider.png') 40 stretch;
    border-image-outset: 5px;
    height: 53vh;
    min-width: 30vw;
  }

  #policy-content > ul {
    padding: 0;
    text-align: left;
  }

  .policyButtons {
    margin-top: 1.8vh;
    margin-right: 3rem;
  }

  .policyButtons > p {
    grid-area: buttons;
    /* justify-content: flex-start; */
    display: none;
  }

  .tracker-doodles {
    max-width: 2rem;
    min-width: 45px;
    min-height: 45px;
    margin-top: 0;
  }

  .legend-section {
    width: 16vw;
    margin-left: 3vw;
  }

  .legend-menu-button {
    cursor: pointer;
  }

  .policyOption {
    background-color: rgb(230,150,83);
    /* padding: 5%; */
    font-size: 1.3rem;
    letter-spacing: 3px;
    width: 16vw;
    text-transform: lowercase;
    height: 80px;
    margin-left: min(5vw, 8rem);
    font-family: 'Anton', sans-serif;
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
  }
  /* _:-ms-lang(x), _:-webkit-full-screen, .policyOption {
    margin-left: 7vw;
  } */
  /* _:-ms-lang(x), _:-webkit-full-screen, .policyButtons {
    width: 5rem;
  } */



  .policyOption:nth-of-type(2){
    background-color: rgb(187,117,28);
    margin-top: 2rem;
  }

  .item {
    width: 85%;
    padding-bottom: 0.5rem;
    margin-left: 1.9rem;

  }

  .item-description{
    font-size: 1.6rem;
  }

  /* .item > p {
    font-size: large;
    font-family: 'Amiko', sans-serif;
    color: rgb(115,115,115);
    line-height: 1.4;
  } */

  .item-title {
    /* color: rgb(230,153,89); */
    color: #214451;
    font-size: 1.7rem;
    letter-spacing: 2px;
    word-spacing: -2px;
    font-family: 'Anton', sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.2;
    margin-block-start: 0;
  }

  .policyButtons {
    flex-direction: column;
  }

  #isBrowser {
    display: block;
    height: fit-content;
  }

  #isNotBrowser, #footerBrowser {
    display: none;
  }

  .App > footer {
    padding-bottom: 3.5vh;
    font-size: 20px;
  }

  #read-more {
    font-weight: bolder;
  }

  /* img.doodle-about{
    margin-left: 0;
    width: 11rem;
    max-width: 15rem;
  } */

  .about-section{
    display: flex;
    align-items: stretch;
  }

  .intro-small {
    font-size: max(17px, 1vw) !important;
  }


  .about-intro{
    font-size: max(27px, 2vw);
  }

  .blob-resources > h4{
    display: inline;
    /* color: rgb(230,153,89); */
    color: #214451;
    font-size: max(35px, 1.8rem);
    letter-spacing: 2px;
    word-spacing: -2px;
    font-family: 'Anton', sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.2;
    margin-block-start: 0;
  }

  .blue-blob{
    width: 3vw;
    height: 3vw;
    margin-right: 2%;
  }

  .openFileLink > a {
    width: max-content;
  }

  .about-section a {
    font-size: max(27px, 2vw);
  }

  .legend-section > span{
    padding-bottom: 6vw;
  }

}

@media (min-width: 1300px){
  .main-content > h1, .main-title > section > h1 {
    min-height: 10rem;
  }


  nav > ul > li {
    margin-bottom: min(2.5rem, 1.5vw);
  }

  /* .menu-list {
    line-height: max(180px, 8rem)
  } */
}

@media (min-width: 1440px){
  .main-container {
    min-width: 68vw;
  }

  #logo {
    width: 13vw;
    height: 13vw;
    max-width: 25rem;
    max-height: 23rem;
  }
}

/* display: -webkit-inline-box; */

@media (min-width: 1850px){

  .item-description{
    font-size: max(2rem, 1.8vw);
  }

  .item-title {
    font-size: 2.5rem;
  }

  .intro-small {
    font-size: max(17px, 1vw) !important;
  }

  .about-intro{
    font-size: max(27px, 2vw);
  }

  .blob-resources > h4{
    font-size: max(35px, 2.5rem);
  }

  .type-section > p, p.filters-section{
    font-size: 1.8rem;
  }

  #type{
    font-size: 1.6rem;
  }

  #read-more{
  font-size: 1.6rem;
  }

  .policyOption{
    font-size:2rem;
  }

  .main-content > p, .accordion .content .principle-description, li.principle-item, .accordion a.active, .openFileLink > a, .legend-menu-button{
    font-size: 2rem;
  }
}

/* @media (min-width: 2800px){
  .item
} */
